@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/
@font-face {
  font-family: 'Flama Condensed';
  src: url('/static/fonts/flama-condensed-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Flama Condensed';
  src: url('/static/fonts/flama-condensed-basic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Flama Condensed';
  src: url('/static/fonts/flama-condensed-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Flama Condensed';
  src: url('/static/fonts/flama-condensed-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Flama Condensed';
  src: url('/static/fonts/flama-condensed-black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Button classes */
@layer components {
  .btn {
    @apply font-normal transition-colors duration-200 px-10 py-3 text-lg uppercase font-flama tracking-wider focus-visible:outline-2 focus-visible:outline-offset-2 no-underline;
  }
  .btn-sm {
    @apply px-6 py-2 text-sm;
  }
  .btn-primary {
    @apply bg-primary text-black hover:text-white hover:bg-pink-700 focus-visible:outline-primary;
  }
  .btn-secondary {
    @apply border-2 border-white text-white hover:text-black hover:bg-white focus-visible:outline-primary;
  }
}

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

/* Syntax Highlighting */

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

.prose iframe, iframe { height: auto; min-height: 0; }