---
layout: default
title: Climbing - Everything you need to know before you visit Boulderryn Indoor Climbing, Penryn & Falmouth
path: climbing
description: Climbing - Got a question about climbing, sessions or memberships? Reach out to Boulderryn Falmouth and Penryn's only indoor bouldering space. We're here to help.
menu:
  title: Climbing
  order: 5
  location: primary
hero:
  svgTitle: /static/svg/climbing.svg
  introduction: >
    Whether you're brand new to bouldering or just new to BoulderRYN, this page has everything you need to know before your first session. From what to bring and how it works, to signing your waiver and booking an induction, consider it your pre-climb briefing. No pressure, no ropes, just good vibes and soft landings.
  image:
    src: /static/img/BoulderRyn-14.jpg
    alt: Climbers on the overhang wall at Boulderryn
---

{% include "partials/navbar.html" %}
<!-- Partical wrapper -->
<div class="min-h-screen overflow-y-auto overscroll-x-none">
<div class="particles-container " id="particles-container"></div>

{% include "partials/hero.html" %}

{% include "partials/introduction.html" %}

{% include "partials/details.html" %}

{% include "partials/opening-times.html" %}

{% include "partials/location.html" %}

{% include "partials/footer.html" %}
</div>
