---
layout: default
title: FAQs - Got Questions?
path: faqs
description: FAQs - You're not the only one. Here are some of the things we get
  asked most. If you're still not sure, just hit the button below and we'll be
  happy to help.
menu:
  title: FAQs
  order: 4
  location: primary
hero:
  svgTitle: /static/svg/faqs.svg
  introduction: >
    You're not the only one. Here are some of the things we get asked most. If
    you're still not sure, just hit the button below and we'll be happy to help.
  image:
    src: /static/img/BoulderRyn-9.jpg
    alt: Climbers on the overhang wall at Boulderryn
  buttons:
    - text: Contact Us
      url: /contact/
      style: primary
faqs:
  - question: What should I bring for my first visit?
    answer: Please wear comfortable clothes you can move in. Climbing shoes are
      available to hire if you don't have your own.
  - question: Do I need to book in advance?
    answer: Nope! You can just turn up. But if it's your first time, we recommend
      watching our safety video and filling out the waiver online before you
      arrive.
  - question: Is there parking at Boulderryn?
    answer: Yes, we have limited free parking on-site. There's also public parking
      just a short walk away in Penryn.
  - question: Do I need to book?
    answer: There is no booking required to climb. However, if it's your first visit
      to BoulderRYN, you will need to sign our online registration before you
      can climb. For kids groups, instructed sessions etc please contact the
      centre.
  - question: What is the minimum age to climb?
    answer: >
      Our minimum age for climbers is 8. All under 18s must be accompanied by an
      adult unless they are proven competent and have been assessed by CWI
      trained instructor or appropriately experienced staff member and
      registered for unsupervised climbing.
  - question: Do I need experience to climb at BoulderRyn?
    answer: >
      No. As long as you have gone through the registration process and can
      answer some basic safety questions on your first visit, you can climb
      without any prior experience.
  - question: How long is a session?
    answer: When you buy a day pass you can climb for as long as you like, but once
      you leave BoulderRYN your session is over. Generally a session lasts for 2
      hours.
  - question: Do I need to supervise my child?
    answer: >
      Any child under the age of 18 must be actively (i.e be on the matting with
      them but not necessarily climbing yourself) supervised by an adult with a
      ratio of one adult per two children.
  - question: If I'm supervising do I need to pay?
    answer: >
      No. Supervising adults that are not climbing don't need to pay entry. You
      do need to have gone through the registration process though. You will be
      required to cover your shoes when on the mat with covers provided.
  - question: Under 18s
    answer: >
      All those under the age of 18 must have a Participation Agreement form
      filled out by a parent or guardian.
  - question: What do I need to bring with me?
    answer: >
      Climbers should wear whatever they're comfortable climbing in. If you have
      them, bring in your own climbing shoes. Don't worry if you don't have any,
      you can hire them from us. You will find climbing chalk helpful to improve
      your grip. You can buy Gekco chalk at the centre.
  - question: What happens when I arrive?
    answer: On your first visit to BoulderRYN, you'll be asked to fill in our
      [waiver](/waiver/) if you haven't done so already online. You will be
      required to watch our induction video. Then, we'll get you registered (£3
      registration fee) and shoes fitted if you want to hire shoes (£3.50 shoe
      hire). Before you climb, there's a short safety induction and form to
      complete and then you're good to go.
  - question: Lost Property
    answer: Please email or let a member of staff know if you have lost something at
      BoulderRYN. Lost Property will be kept on site for 1 month before being
      donated or re-homed! We will try and keep water bottles for at least 2
      weeks before rehoming / recycling.
---

{% include "partials/navbar.html" %}
<!-- Partical wrapper -->
<div class="min-h-screen overflow-y-auto overscroll-x-none">
<div class="particles-container " id="particles-container"></div>

{% include "partials/hero.html" %}

{% include "partials/faq-table.html" %}

{% include "partials/footer.html" %}
</div>
