---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.sitemapPages %}
  <url>
    <loc>{{ (site.core.url | stripTrailingSlash) ~ page.url | escape }}</loc>
    {%- if page.date %}
    <lastmod>{{ page.date | w3cDate }}</lastmod>
    {%- endif %}
  </url>
{%- endfor %}
</urlset>
