---
layout: default
title: Bouldryn - Penryn and Falmouth's only Indoor Bouldering Space
path: waivers
menu:
  title: Waivers
  order: 2
  location: primary
intro:
  lead: >
    Welcome to **Boulderryn**, Falmouth and Penryn's only indoor bouldering
    space. Whether you're just starting out or already chasing your next send,
    this is your spot.
  body: |
    No ropes, no pressure. Just a friendly team and ever-changing routes.
    Come solo, bring your mates, or get stuck in at one of our intro sessions.
    Everyone's welcome. Chalk up and let's go.

    **Just Five minutes from Exeter University Penryn Campus.**
  buttons:
    - text: Climbing
      url: /climbing/
      style: primary
    - text: find/Contact us
      url: /membership/
      style: secondary

---
{% include "partials/navbar.html" %}
<!-- Partical wrapper -->
<div class="min-h-screen overflow-y-auto overscroll-x-none">
<div class="particles-container " id="particles-container"></div>

<section class="mt-36 px-6">
<iframe style="width:100%;height:100%;" class="min-h-screen" src="https://widgets.sendmoregetbeta.com/13413/document?disallowSeek=false&hideHeader=false" frameBorder="0" allow="accelerometer"></iframe>
</section>
{% include "partials/footer.html" %}
</div>
