<div id="cookie-banner" class="pointer-events-none fixed inset-x-0 bottom-0 px-6 pb-6" style="display: none;">
  <div class="pointer-events-auto max-w-lg rounded-xl bg-gray-800 p-6 outline outline-1 -outline-offset-1 outline-white/10 ml-auto">
    <p class="text-sm/6 text-white">
      We use cookies to improve your experience and help our website run effectively. You can choose to accept or reject non-essential cookies. See our <a href="/cookies/" class="font-semibold text-primary hover:text-white">cookie policy</a> for more details.
    </p>
    <div class="mt-4 flex items-center gap-x-5">
      <button id="accept-cookies" type="button" class="rounded-md bg-gray-700 px-3 py-2 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-white/10 hover:bg-white/15 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">
        Accept
      </button>
      <button id="reject-cookies" type="button" class="text-sm/6 font-semibold text-white hover:text-gray-300">
        Reject
      </button>
    </div>
  </div>
</div>