<section class="mx-auto grid max-w-5xl grid-cols-1 sm:grid-cols-2 pt-32">
  <!-- Left: Headline -->
  <div class="flex items-center justify-center px-12 md:justify-end sm:px-10 mb-8">
    <div class="max-w-xl">
      <h2 class="sr-only">Got questions? Visit our FAQ page</h2>
      <img src="/static/svg/faqs-cta.svg" alt="" class="w-full" aria-hidden="true" loading="lazy" width="1200" height="300" data-aos="fade-right"/>
    </div>
  </div>

  <!-- Right: Opening times / content -->
  <div class="flex items-center px-8 md:px-10 mx-auto">
    <div class="max-w-md flex flex-col items-center sm:items-start">
      <div class="text-xl/8 font-extralight prose prose-invert text-white font-noto">From first-time nerves to membership details, we’ve answered the things people ask us most. If you’re wondering about something, chances are it’s covered in the FAQs.</div>
      <div class="mt-10 space-y-6">
        <a href="/faqs" class="btn btn-primary">Frequently asked</a>
      </div>
    </div>
  </div>
</section>
