<!-- Include this script tag or install `@tailwindplus/elements` via npm: -->
<!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script> -->
<div class="bg-black max-w-7xl mx-auto">
  <div class="relative isolate flex min-h-screen flex-col justify-end sm:justify-between pt-8">
    
    <img
      src="/static/img/hands-in-chalk.png"
      alt=""
      class="absolute inset-0 -z-10 size-full object-cover md:object-left xl:object-contain xl:object-right-top"
      loading="eager"
      fetchpriority="high"
      decoding="async"
      data-aos="fade"
    />
        
    <div class="hidden sm:block">
        <a href="/" class="self-start">
        <span class="sr-only">Bouldryn - Penryn and Falmouth's only Indoor Bouldering Space</span>
        <img src="static/svg/boulderryn-outline-logo.svg" alt="" class="h-44 xl:h-64 pl-5 pb-5" />
        </a>
    </div>

    <div class="max-w-7xl px-6 pb-8 lg:px-10 lg:pb-10">
      <div class=" max-w-3xl lg:max-w-4sxl xl:max-w-7xl">
        <div class="text-left sm:w-3/4">
          <h1 data-aos="fade-up" data-aos-delay="500">
            <span class="sr-only">Penryn and Falmouth's only Indoor Bouldering Space</span>
            <img src="static/svg/indoor-bouldering-space.svg" alt="" aria-hidden="true" fetchpriority="high" decoding="async" class="block w-auto max-w-full max-h-[70svh] md:max-h-[80svh] object-contain" />
          </h1>
        </div>
      </div>
    </div>

  </div>
</div>