<div class="overflow-hidden pt-12 sm:pt-24">
  <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
    <section class="mt-20 grid grid-cols-1 lg:grid-cols-2 lg:gap-x-8 lg:gap-y-16">
      <div class="lg:row-span-2 lg:-mr-16 xl:mr-auto">
        <div class="sm:-mx-16 lg:mx-0">
          <div>
            <h2 class="sr-only">
              {{ introduction.title | default("What is bouldering - Bouldering is climbing in its purest form short climbs, soft mats, & endless challenges to keep you coming back.") }}
            </h2>
            <div aria-hidden="true">
                <img
                src="/static/svg/whats-bouldering.svg"
                alt=""
                class="w-full"
                aria-hidden="true"
                />
            </div>
          </div>
        </div>
      </div>

      <div class="mb-10 text-white lg:pr-8 font-notos">
        {% if introduction and introduction.lead %}
          <div class="text-xl/8 font-extralight prose prose-invert text-white font-noto">
            {{ introduction.lead | markdown | safe }}
          </div>
        {% endif %}

        {% if introduction and introduction.body %}
          <div class="mt-8 text-base/7 font-extralight prose prose-invert text-white font-noto">
            {{ introduction.body | markdown | safe }}
          </div>
        {% endif %}
      </div>
    </section>
  </div>
</div>
